<ion-view view-title="Room Service">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="content">
            <div class="right-half-list list condensed-space no-padding animate-blinds half">
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                       ng-click="purchase(alcohol[0])">
                        <h3>{{alcohol[0].name}}</h3>
                        <p><span class="bottom-right">{{alcohol[0].price}} $</span></p>
                        <img ng-src="{{alcohol[0].image}}">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                       ng-click="purchase(alcohol[1])">
                        <h3>{{alcohol[1].name}}</h3>
                        <p><span class="bottom-right">{{alcohol[1].price}} $</span></p>
                        <img ng-src="{{alcohol[1].image}}">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                       ng-click="purchase(alcohol[2])">
                        <h3>{{alcohol[2].name}}</h3>
                        <p><span class="bottom-right">{{alcohol[2].price}} $</span></p>
                        <img ng-src="{{alcohol[2].image}}">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                       ng-click="purchase(alcohol[3])">
                        <h3>{{alcohol[3].name}}</h3>
                        <p><span class="bottom-right">{{alcohol[3].price}} $</span></p>
                        <img ng-src="{{alcohol[3].image}}">
                    </a>
                </div>

            </div>
            <div class="left-half-list list condensed-space no-padding animate-blinds half">
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                       ng-click="purchase(alcohol[4])">
                        <h3>{{alcohol[4].name}}</h3>
                        <p><span class="bottom-right">{{alcohol[4].price}} $</span></p>
                        <img ng-src="{{alcohol[4].image}}">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                       ng-click="purchase(alcohol[5])">
                        <h3>{{alcohol[5].name}}</h3>
                        <p><span class="bottom-right">{{alcohol[5].price}} $</span></p>
                        <img ng-src="{{alcohol[5].image}}">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                       ng-click="purchase(alcohol[6])">
                        <h3>{{alcohol[6].name}}</h3>
                        <p><span class="bottom-right">{{alcohol[6].price}} $</span></p>
                        <img ng-src="{{alcohol[6].image}}">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                       ng-click="purchase(alcohol[7])">
                        <h3>{{alcohol[7].name}}</h3>
                        <p><span class="bottom-right">{{alcohol[7].price}} $</span></p>
                        <img ng-src="{{alcohol[7].image}}">
                    </a>
                </div>

            </div>
        </div>
        <script src="../../../bower_components/waves/dist/waves.min.js"></script>
        <script src="../js/material-ionic.js"></script>
        <script>
        Waves.displayEffect();
        setTimeout(function() {
            Mi.motion.blindsDown({
                selector: '.card'
            });
        }, 500);
        </script>
    </ion-content>
</ion-view>