<ion-view view-title="Welcome">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list condensed-space no-padding animate-blinds">
            <div class="card dark-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                    <h2>Room Service</h2>
                    <p>Order from our fine menu</p>
                    <img src="img/food.jpg">
                </a>
            </div>
            <div class="card dark-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                    <h2>Reception Services</h2>
                    <p>How can we help you?</p>
                    <img src="img/reception.jpg">
                </a>
            </div>
            <div class="card dark-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                    <h2>Bar</h2>
                    <p>Care for a drink?</p>
                    <img src="img/bar.jpg">
                </a>
            </div>
            <div class="card dark-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                    <h2>Activities</h2>
                    <p>Enjoy our Spa, Show, Concierge and more...</p>
                    <img src="img/spa.jpg">
                </a>
            </div>
        </div>
        <script src="../../../bower_components/waves/dist/waves.min.js"></script>
        <script src="../js/material-ionic.js"></script>
        <script>
        Waves.displayEffect();
        setTimeout(function() {
            Mi.motion.blindsDown({
                selector: '.card'
            });
        }, 500);
        </script>
    </ion-content>
</ion-view>