<ion-view view-title="Room Service">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list condensed-space no-padding animate-blinds">
            <div class="card dark-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                    <h2>Appetizers</h2>
                    <img src="img/appetizer.jpg">
                </a>
            </div>
            <div class="card dark-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                    <h2>Alcohol</h2>
                    <img src="img/drinks.jpg">
                </a>
            </div>
            <div class="card dark-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                    <h2>Main Courses</h2>
                    <img src="img/main-dish.jpg">
                </a>
            </div>
            <div class="card dark-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" >
                    <h2>Deserts</h2>
                    <img src="img/desert.jpg">
                </a>
            </div>

        </div>
        <script src="../../../bower_components/waves/dist/waves.min.js"></script>
        <script src="../js/material-ionic.js"></script>
        <script>
        Waves.displayEffect();
        setTimeout(function() {
            Mi.motion.blindsDown({
                selector: '.card'
            });
        }, 500);
        </script>
    </ion-content>
</ion-view>